.Pet {
  display: grid;
  grid-template-areas:
      "chart chart chart"
      "name name meta"
      "low high humidity";
  grid-template-columns: repeat(3, 1fr);

  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}

.Pet__chart {
  grid-area: chart;
  height: 8rem;

  background-color: #2d3748;
}

.Pet__name {
  grid-area: name;
  padding: 1rem 0 1rem 1rem;
  font-size: 2em;
  line-height: 1;
  font-weight: lighter;
}

.Pet__meta {
  grid-area: meta;
  padding: 1rem 1rem 1rem 0;

  font-size: 0.6em;
  color: #666;
  text-align: right;
}

.Pet__value {
  padding: 1rem;
  text-align: center;
}

.Pet__valueTitle {
  margin-bottom: 0.2rem;

  text-transform: uppercase;
  font-size: 0.6em;
  color: #666;
}

.Pet__valueValue {
  font-size: 2em;
  font-weight: lighter;
  line-height: 1;
}

.Pet__valueUnit {
  color: #666;
}

.Pet__valueUnit--small {
  vertical-align: top;
  font-size: 0.4em;
  line-height: 1.6;
  margin-left: 1px;
}

.Pet__value--low { grid-area: low; }
.Pet__value--high { grid-area: high; }
.Pet__value--humidity { grid-area: humidity; }
